.piLanguageSelector {

    --flag-height: 1em;

    .dropdown {
        button,
        button img {
            height: calc( var( --flag-height ) * 1.25 );
        }
        .dropdown-item img {
            height: var( --flag-height );
        }
        // label is not displayed unless button is hover, and don't know why...
        //  so this override
        button.btn:not( :hover ){
            color: var( --bs-btn-hover-color );
            background-color: var( --bs-btn-hover-bg );
            border-color: var( --bs-btn-hover-border-color );
        }
        button.btn-sm {
            --bs-btn-padding-y: 1em;
        }
        a:hover {
            text-decoration: none;
        }
        .dropdown-item {
            display: flex;
            align-items: center;
            p {
                padding-left: 0.5em;
            }
        }
        // flag/label relative positioning
        .PI_BTNLABEL_ABOVE {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-bottom: 3px;
            }
            img {
                margin-bottom: 0.4em;
            }
            position: relative;
            top: -2em;
        }
        .PI_BTNLABEL_RIGHT {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                padding-left: 0.5em;
            }
        }
        .PI_BTNLABEL_BELOW {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                padding-top: 1px;
                padding-bottom: 2px;
            }
            position: relative;
            top: -1.5em;
        }
        .PI_BTNLABEL_LEFT {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                padding-right: 0.5em;
            }
        }
    }
}
