<template name="piLanguageSelector">
    <div class="piLanguageSelector">

        <div class="dropdown" role="menu">
            <button class="btn btn-sm dropdown-toggle {{ buttonClass }}" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ buttonTitle }}">
                {{{ dropdownButton }}}
            </button>
            <ul class="dropdown-menu">
                {{#each it in items_list }}
                    {{{ dropdownItem it }}}
                {{/each}}
            </ul>
        </div>

    </div>
</template>
